:root{
    /* Font sizes */
    --font-10: 1rem;
    --font-12: 1.2rem;
    --font-14: 1.4rem;
    --font-16: 1.6rem;
    --font-18: 1.8rem;
    --font-20: 2.0rem;
    --font-22: 2.2rem;
    --font-24: 2.4rem;
    --font-26: 2.6rem;
    --font-28: 2.8rem;
    --font-30: 3.0rem;
    --font-32: 3.2rem;
    --font-36: 3.6rem;
    --font-48: 4.8rem;
    --font-64: 6.4rem;
    --font-96: 9.6rem;

    /* Line height */
    --font-lineheight-00: .95;
    --font-lineheight-0: 1.1;
    --font-lineheight-1: 1.25;
    --font-lineheight-2: 1.375;
    --font-lineheight-3: 1.5;
    --font-lineheight-4: 1.75;
    --font-lineheight-5: 2;

    /* Spacings */
    --spacing-1: 0.1rem;
    --spacing-2: 0.2rem;
    --spacing-4: 0.4rem;
    --spacing-8: 0.8rem;
    --spacing-16: 1.6rem;
    --spacing-24: 2.4rem;
    --spacing-32: 3.2rem;
    --spacing-48: 4.8rem;
    --spacing-64: 6.4rem;
    --spacing-96: 9.6rem;
    --spacing-128: 12.8rem;

    /* Scrollbar */
	--color-scrollbar-thumb: hsl(173deg 10% 20%);

	/* Shadows */
	--shadow-sm: 0px 0px 4px 4px hsl(0deg 0% 0% / 4%);
	--shadow-md: 0px 0px 10px 4px hsl(0deg 0% 0% / 10%);
	--shadow-lg: 0px 0px 20px 8px hsl(0deg 0% 0% / 20%);

    /* Border radius */
	--rounded-4: 4px;
	--rounded-5: 5px;
	--rounded-8: 8px;
	--rounded-20: 20px;
}

html {
    font-size: 62.5%; /* makes 1rem = 10px, for font-size to be 16px will need to set it to 1.6rem */
    scroll-padding-top: var(--spacing-64);
	scroll-behavior: auto; /* TODO: change to smooth */
	scrollbar-width: thin;
	scrollbar-color: var(--color-scrollbar-thumb) transparent;
}

html,
body {
	height: 100%;
}

body {
    background-color: var(--color-bg);
    color: var(--color-txt);
    display: grid;
    font-family: "SF Pro Display", -apple-system, system-ui, Inter, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "open sans", Helvetica, "Helvetica Neue", sans-serif;
    font-size: var(--font-18);
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    line-height: 1.6;
    margin: 0 auto;
    max-inline-size: 1080px;
}

main {
    width: 76.8rem;
    max-width: calc(100% - 2em);
    margin: 0 auto;
    padding: 0 var(--spacing-16);
}

article {
    max-width: 76.8rem;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: var(--spacing-32) 0 var(--spacing-16);
	line-height: 1.2;
}

h1 {
    font-size: var(--font-36);
}

h2 {
    font-size: var(--font-28);
}

h3 {
    font-size: var(--font-24);
}

h4 {
    font-size: var(--font-20);
}

h5 {
    font-size: var(--font-18);
}

h6 {
    font-size: var(--font-18);
    font-style: italic;
    font-weight: 600;
}

p {
    margin: 0 0 var(--spacing-16);
}

strong,
b {
	font-weight: 700;
}

a {
    position: relative;
    color: inherit;
}

a:hover {
	color: var(--color-txt-hover);
}

table {
    border-collapse: collapse;
    margin-bottom: var(--spacing-16);
    table-layout: auto;
    width: 100%;
}

th,
td {
    border: 1px solid var(--color-txt-secondary);
    padding: var(--spacing-8);
    text-align: left;
}

video,
img {
	max-width: 100%;
	height: auto;
	border-radius: var(--spacing-4);
}

code {
	background-color: var(--color-bg-secondary);
	border-radius: var(--rounded-4);
	padding: var(--spacing-2) var(--spacing-4);
}

pre {
	padding: var(--spacing-24);
	border-radius: var(--rounded-8);
}

/* Reset code blocks values that will be styled by shiki */
pre > code {
	all: unset;
}

blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0;
	font-size: 1.333em;
}

hr {
    background-color: var(--color-txt-secondary);
    border-radius: 5px;
    border: none;
    height: var(--spacing-1);
}

/* Text centered under the image with --color-txt-secondary color */
figcaption {
    color: var(--color-txt-secondary);
    text-align: center;
}

figcaption a:hover {
    color: var(--color-txt-secondary-hover);
}
