/* Dark is default */
:root {
    --color-bg-highlight: rgb(37 38 39);
    --color-bg-secondary: rgb(31 31 32);
    --color-bg: rgb(19 19 20);
    --color-txt-highlight: rgb(170 170 170);
    --color-txt-secondary: rgb(140 140 141);
    --color-txt: rgb(220 220 218);
}

html.light {
    --color-bg-highlight: rgb(230 230 230);
    --color-bg-secondary: rgb(240 239 239);
    --color-bg: rgb(255 255 255);
    --color-txt-highlight: rgb(95 95 95);
    --color-txt-secondary: rgb(117 117 117);
    --color-txt: rgb(29 26 26);
}
