---
import { SITE } from "@config"
import Base from "@layouts/Base.astro"
import Header from "@components/Header.astro"
import Footer from "@components/Footer.astro"
---

<Base title={`404 Not Found | ${SITE.title}`}>
    <div class="not-found-wrapper">
        <h1 aria-label="404 Not Found">404</h1>
        <span aria-hidden="true">¯\_(ツ)_/¯</span>
        <p>Page Not Found</p>
        <a href="/"> Go back home </a>
    </div>
</Base>
