---
import Base from "@layouts/Base.astro"
---

<Base frontmatter={{ title: "404 Not Found" }}>
    <div>
        <pre
            aria-hidden="true">
 ___   ___  ________  ___   ___
|\  \ |\  \|\   __  \|\  \ |\  \
\ \  \\_\  \ \  \|\  \ \  \\_\  \
 \ \______  \ \  \\\  \ \______  \
  \|_____|\  \ \  \\\  \|_____|\  \
         \ \__\ \_______\     \ \__\
          \|__|\|_______|      \|__|
        </pre>
        <p>Page Not Found</p>
        <a href="/"> Go back home </a>
    </div>
</Base>

<style>
    div {
        margin-top: var(--spacing-64);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    pre {
        line-height: var(--font-lineheight-1);
        font-size: var(--font-14);
    }
</style>
