---
import RssLink from "./RssLink.astro"
import GitHubLink from "./GitHubLink.astro"

const props = Astro.props
---

<footer {...props}>
    <em>"if you can dream — and not make dreams your master"</em>
    <span class="separator">•</span>
    <RssLink className="rss-link" />
    <span class="separator">•</span>
    <GitHubLink className="github-link" />

    <style>
        footer {
            color: var(--color-txt-secondary);
            margin-top: var(--spacing-48);
            padding-block: var(--spacing-32);
            text-align: center;
        }

        .rss-link,
        .github-link {
            height: var(--font-18);
        }

        .separator {
            margin-inline: var(--spacing-4);
        }
    </style>
</footer>
