---
import RssLink from "./RssLink.astro"
import GitHubLink from "./GitHubLink.astro"

const props = Astro.props
---

<footer {...props}>
    iglog&nbsp;©&nbsp;2024
    <span class="separator">•</span>
    <RssLink />
    <span class="separator">•</span>
    <GitHubLink />
</footer>

<style>
    footer {
        align-items: center;
        color: var(--color-txt-secondary);
        display: flex;
        justify-content: center;
        margin-inline: var(--spacing-16);
        margin-top: var(--spacing-48);
        padding-block: var(--spacing-32);
    }

    .separator {
        margin-inline: var(--spacing-8);
    }
</style>
