---
import { SITE } from "@config"

const props = Astro.props
---

<footer {...props}>
    <p>{SITE.title} &copy {new Date().getFullYear()}</p>
</footer>

<style>
    footer {
        text-align: center;
        padding-block: var(--spacing-4);
    }

    p {
        color: var(--color-txt-secondary);
        margin: var(--spacing-8) 0;
    }
</style>
