---
import { formatDate } from "@utils/date"
interface Props {
    datePublished: Date
    dateModified?: Date | null
    author: string
}
const { datePublished, dateModified, author } = Astro.props
---

<div>
    Published: <time>{formatDate(datePublished)}</time>
    {
        dateModified ? (
            <span>
                | Updated: <time>{formatDate(dateModified)}</time>
            </span>
        ) : null
    }
    | Author: {author}
</div>

<style>
    div {
        color: var(--color-txt-secondary);
        font-size: var(--font-14);
    }
</style>
