---
const props = Astro.props
---

<button
    aria-controls="nav-links"
    aria-expanded="false"
    aria-label="Open Menu"
    id="menu-button"
    {...props}
>
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
</button>

<style>
    #menu-button {
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        height: 22px;
        justify-content: space-between;
        line-height: 0;
        padding: 0;
        width: 26px;
    }

    div {
        background-color: var(--color-txt);
        border-radius: 5px;
        height: 2px;
        transition: all 0.3s ease;
        width: 100%;
    }

    .change .bar1 {
        transform: rotate(-45deg) translate(-7px, 7px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: rotate(45deg) translate(-7px, -7px);
    }
</style>
