---
const props = Astro.props
---

<a href="/search/" aria-label="search" title="Search">
    <svg
        fill="none"
        height="1.5em"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        stroke="currentColor"
        viewBox="0 0 24 24"
        width="1.5em"
        xmlns="http://www.w3.org/2000/svg"
        {...props}
    >
        <circle cx="11" cy="11" r="8"></circle><path d="m21 21-4.3-4.3"></path>
    </svg>
</a>
